<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="icon" href="favicon.ico">
    <title>Page 404 Foodgram</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
    <section id="wrapper" class="container-fluid">
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="text-danger">ой-ой 404</h1>
                <h2>Ничего не найдено!</h2>
                <p class="text-muted m-t-30 m-b-30">Это моя страница обработки ошибки 404.</p>
                <p class="text-muted m-t-30 m-b-30">Мне кажется, что вы хотели увидеть именно её.</p>
                <a href="/admin/" class="btn btn-danger btn-rounded m-b-40">Вернуться к Администрированию Foodgram</a>
                <p class="text-muted m-t-30 m-b-30">или</p>
                <a href="/" class="btn btn-danger btn-rounded m-b-40">перейти к рецептам.</a>
            </div>
        </div>
    </section>
</body>

</html>